/*
* PC버전 
*/
textarea::placeholder {font-family:'Nanum Gothic'}
.scroll-item > .scroll-sub-box > .address {
	font-family: 'Nanum Gothic';
	font-size: small;

}
.addressList{
	width: 100%;
	height: 100%;
	border-collapse: separate;
 	border-spacing: 15px;
 }
.addressList .property{
	width: 30%;
	margin-bottom: 10px;
	text-align: center;
	background-color: rgba(141,111,75,0.5);
	border-radius: 5px;
	color:white;
}
.addressList td{
	margin-bottom: 10px;
}

.addressList td input[type="text"], .addressList td textarea, #selectEmail {
	border: 1px solid #e4e4e4;
	padding-left: 10px;
}
.addressList td input[type="button"] {
	border:0px;
	background-color: rgba(141,111,75,0.3);
	border-radius: 5px;
	color: white;
	width: 20%;
	height: 50px;
}
.addressList input[type="text"],#selectEmail{
	width: 40%;
	height: 50px;
}
.addressList textarea{
	width: 60%;
	height: 70px;
}

.addressList input.small-input {
	width:25%;
	height:50px;
	border:1px solid #e3e3e3;
	padding-left:10px;
}

#userinfo{
	text-align:right;
	margin-right: 20px;
}
.scroll-item > .scroll-sub-box > .underline {
}

.scroll-sub-box{
	width:100%;
	max-width: 950px;
	height: auto !important;
	margin: auto;
	top: 50%;
	position: absolute;top: 50%; transform: translateY(--50%);
}

/* 메뉴바 : 완성후  Belrheas.css로 옮겨야 할듯함*/
.background-menubar{
	background-color: black;
	opacity: 0.5;
	text-align: center;
	float: right;
	height: 700px;
}
.background-menu{
	color: white;
	z-index: 50;
	margin: 20px;
}
.menu a{
	cursor:pointer;
}
.menu .hide{
	display:none;
}
.category{
	font-size: large;
}

/*
*  
*
* 반응형(모바일)
*
*
*/
@media screen and (max-width: 768px) { 

.addressList{
	border-collapse: separate;
 	border-spacing: 3px;
 }
.addressList th{
	width: 20%;
	text-align: center;
}
.addressList td{
	margin-bottom: 10px;
}

.addressList td input[type="text"], .addressList td textarea,#selectEmail {
	border: 1px solid #e4e4e4;
	padding-left: 10px;
}
.addressList td input[type="button"] {
	border:0px;
	background-color: rgba(141,111,75,0.5);
	color:white;
	border-radius: 5px;
	width: 20%;
	height: 35px;
}
.addressList #sample6_postcode,.addressList .email{
	width: 30%;
}
.addressList input[type="text"],#selectEmail{
	width: 90%;
	height: 35px;
}
.addressList textarea{
	width: 90%;
	height: 35px;
}

.addressList input.small-input {
	width:28.9%;
	height:35px;
	border:1px solid #e3e3e3;
	padding-left:10px;
}
#userinfo{
	text-align:right;
	margin-right: 20px;
}
.scroll-sub-box{
	width:100%;
	max-width: 950px;
	height: auto !important;
	margin: auto;
	top: 50%;
	position: absolute;top: 50%; transform: translateY(-50%);
	}

	/*모바일용 로고,헤더 수정후 belrheas.css로 옮기기*/
header {
	width:100%;
	height:60px;
	margin:auto;
	background-color:rgba(255,255,255,1);
	position:fixed;
	z-index:1000;
	border-bottom:1px solid rgba(200,200,200,1);
}
.logo {
	width:50px;
	height:50px;
	float:left;
	position:absolute;
	left:0px;
	top:0px;
	margin:10px 50px;
	cursor:pointer;
}
/* 높낮이 조절 */
.scroll-item > .scroll-sub-box {
	width:100%;
	height:550px;
	top:32%;
	transform:translateY(-50%);
	position:relative; 
	border: 2px black;
}
/* 햄버거 메뉴 */

/* 배송지 정보 입력*/
.product-subject {
	display: none;
}


}
